*{
  font-family: 'Roboto', sans-serif;
}

.ui-block-a, .ui-block-b, .ui-block-c{
  text-align: center;
}

.header-title, .header-title p{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 3px;
  margin-top: auto;
}

#header-icon{
  width: 100px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.subtext, .subtext p{
  color: white;
  text-decoration: none;
  font-weight: normal;
  text-shadow: none;
  font-size: 17px;
}

#helloworld-text{
  font-size: 8px;
}

.ui-page{
  background-color: #00b359;
}

.ui-header{
  background-color: #135613;
  color: white;
  font-weight: normal;
  font-size: 17px;
}

#main-page-icon{
  margin-top: 0px;
  margin-bottom: -20px;
}
