*{
  font-family: Roboto;
}

.ui-block-a, .ui-block-b, .ui-block-c{
  text-align: center;
}

.subtext, .subtext p{
  color: white;
  text-decoration: none;
  font-weight: normal;
  text-shadow: none;
  font-size: 17px;
}

.ui-page{
  background-color: #00b359;
}

#main-page-icon{
  margin-top: 0px;
  margin-bottom: -20px;
}
